[submodule "libs/core-lib"]
	path = libs/core-lib
	url = file:///home/oik/go/src/github.com/terraform/submodule-remotes/core-lib
[submodule "libs/utils-lib"]
	path = libs/utils-lib
	url = file:///home/oik/go/src/github.com/terraform/submodule-remotes/utils-lib
